# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# AWS
.aws/

# Elasticsearch
elasticsearch/

# Miscellaneous
.DS_Store
Thumbs.db

# Project-specific
claudewin.log
